<html>
<head>
    <title> Liste des articles</title>
</head>
<body>
<h1>Liste des article</h1>
{% for project in projects %}
    <p><a href="{{ path('project_view', {'id' : project.id}) }}">{{ project.name }}</a></p>
{% endfor %}
</body>
</html>